POSTGRES_USER=postgres
PGHOST=127.0.0.1
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cssa_lounge_db
PGPORT=5432
JWT_SECRET=<some_long_securely_generated_random_string>
DISCORD_CLIENT_ID=<your_client_id> # If you don't have this value, ask and it can be given to you
DISCORD_CLIENT_SECRET=<your_client_secret> # If you don't have this value, ask and it can be given to you
DISCORD_REDIRECT_URI=http://localhost:5173/api/auth/discord/callback